BOT_TOKEN=
ADMIN_ID=

PORT=3000
DB_PATH=./database/xeen.db
SESSION_SECRET=change-this-to-a-long-random-secret

PREDICT_COST=1
DATASET_SIZE=1200
ROTATE_HOURS=3

ADMIN_CONTACT=https://t.me/Xennn111
DEVELOPER_CONTACT=https://t.me/kaiyo1111

BIGWIN_WINGO_URL=https://www.777bigwingame.org/#/register?invitationCode=72358642324
BIGWIN_TRX_URL=https://www.777bigwingame.org/#/register?invitationCode=72358642324

MINI_WINGO_URL=https://mini-game.site/?invite=Ref-11481195
MINI_TRX_URL=https://mini-game.site/?invite=Ref-11481195
